* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { 
    font-size: 10px;
 }

body {
    min-height: 100vh;
    background-color: #111;
    font-family: 'Lato', sans-serif;
    color: #eee;
}
